body {
    text-align: center;
    font-size: 100px;
    font-family: "Comic Sans MS";
}
button {
    font-size: 100px;
    text-align: center;
    height: 150px;
    width: 150px;
}
table {
    margin: auto;
}